---
import nexusLogoDark from "../assets/logos/logo-dark.png"
---

<div class="bg-nexus-blue pt-20 pb-10">
    <div class="container mx-auto">
        <!-- Section 1 -->
        <div class="flex flex-col md:flex-row justify-between items-start md:items-end p-6 gap-6">
            <p class="text-3xl md:text-6xl text-neutral-100 md:w-1/2 font-medium">
                Envie de développer votre activité ?
            </p>
            <button data-tally-open="wgJ8qO" data-tally-width="400" data-tally-hide-title="1" data-tally-overlay="1" data-tally-emoji-text="👋" data-tally-emoji-animation="wave" class="hover:scale-110 active:scale-95 transition-transform duration-300 md:mt-10 inline-flex gap-2 bg-nexus-pink py-3 px-5 font-medium text-nexus-blue rounded-full">
                Contactez-nous
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
            </button>
        </div>

        <hr class="border-gray-700 my-6">

        <!-- Section 2 -->
        <div class="flex flex-col md:flex-row justify-between items-start md:items-end p-6 gap-6">
            <div>
                <img class="w-40" src={nexusLogoDark.src} alt="Nexus ESGI">
                <p class="text-neutral-100 mt-2">
                    242 Rue du Faubourg Saint-Antoine <br>
                    75012 Paris
                </p>
            </div>
            <div class="flex flex-col md:flex-row md:gap-5 text-neutral-100">
                <a target="_blank" href="https://platform.nexusesgi.fr">Plateforme</a>
                <a href="/legal">Mentions légales</a>
                <a target="_blank" href="https://fr.trustpilot.com/review/nexusesgi.fr">Avis Trustpilot</a>
                <a target="_blank" href="https://www.linkedin.com/company/nexus-esgi-junior-conseil/">LinkedIn</a>
                <a target="_blank" href="https://bento.me/nexusesgi">Bento.me</a>
            </div>
        </div>
    </div>
</div>
