---
import nexusLogoLight from '../assets/logos/logo-light.png'
---
<div class="mt-10">
    <a href="/">
        <img src={nexusLogoLight.src} alt="Logo de Nexus ESGI" class="w-40 m-auto">
    </a>
</div>